body{
    margin: 0;
    padding: 0;

 font-family: 'Festive', cursive;
    font-family: 'Hind', sans-serif;
    font-family: 'Open Sans', sans-serif;
     font-family: 'Rampart One', cursive;
    font-family: 'Roboto', sans-serif;
    background: rgba(45, 53, 53,1);
}

#header{
    display: flex;
}
.headerSite{
    width: 50%;
    /* text-align: center; */
    margin: 5%;
}
.headerSite h1{
    font-size: 50px;
    /* color: rgb(243, 118, 17); */
    font-weight: bold;
    font-family: serif;
    /* margin: 5%; */
}
a{
    text-decoration: none;
    /* padding: 3%; */
    color: aliceblue;
    background-image: linear-gradient(to right, rgb(255, 157, 0), rgb(233, 59, 6));
    border-radius: 35px;
    /* margin-top: 40px; */
    padding: 15px 25px;
}
.headerSite img{
    /* text-align: center; */
    width: 90%;
}



#about_me{
    background-image: url(images/shapes/7.png) no-repeat;
    display: flex;
    padding: 5%;
}
.aboutDiv{
    width: 50%;
    padding: 2%;
}
.aboutDiv img{
    width: 500px;
}
.aboutDiv h1{
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aboutDiv p{
    margin-bottom: 67px;
}

#recipies{
    text-align: center;
    margin-top: 60px;
}
#recipies h1{
    font-size: 35px;
}
#menu{
    display: flex;
}
.menus{
    /* border: 1px solid red; */
    text-align: left;
    padding: 1%;
    margin: 3%;
    box-shadow: 4px 4px 9px 7px rgb(233, 224, 224);
    border-radius: 9px;
}
.menus img{
    width: 90%;
    padding: 4%;
}
.menus h3{
    font-size: 26px;
    margin: auto auto -6px auto;
}

#click-me {
    display:inline;
    padding: 0;

    background: none;
    color:rgb(193, 33, 207);

}

#specialSec{
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 2px 12px 3px rgb(231, 208, 208);
    width: 90%;
    margin-left: 3%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.specials{
    width: 90%;
    text-align: center;
}

footer{
    text-align: center;
    background-color: rgb(15, 24, 15);
    /* padding: 2px; */
    margin-top: 5%;
}

footer h3{
    color: rgb(255, 255, 255);
    padding: 13px;
    font-size: 24px;
}

footer h1{
    color: aliceblue;
    margin-top: -10px;
}
span{
    color: coral;
}
footer p{
    color: aliceblue;
    padding-bottom: 10px;
}